    <nav class="navbar navbar-expand-lg fixed-top bg-primary border-bottom border-bottom-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Projeto</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if logado == True %}
    
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/usuario_login">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/usuario/criar">Cadastrar usuario</a>
              </li>
              {% endif %}
              
              
            
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                {% if logado == True %}
                  <a class="btn btn-outline-danger" href="/logout">Logout</a>
                {% else %}
                  
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </nav>

    <div class="container">
        <div class="page-header">
            <h1>{{ titulo }}</h1>
        </div>